/* .cardd{
  text-align: center;
  border: 1px solid hsl(0, 49%, 7%);
  border-radius: 15px;
  box-shadow: 5px 5px 5px hsl(120, 16%, 12%);
  max-width: 250px;
  margin: 15px;
  padding: 20px;
  display: inline-block;

}
.cardd .h1{
  font-family: Arial, Helvetica, sans-serif;

}
.cardd .p{
  font-size: large;
  
}
.cardd .img{
  border-radius: 50%;
  max-width: 60%;
  padding: 20px;
  margin-bottom: 10px;
} */
 .button{
  color: aqua;
  background-color: antiquewhite;
  text-align: center;
 }